<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <listener>
        <listener-class>com.krushit.common.config.FlywayConfig</listener-class>
    </listener>

    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/altus</param-value>
    </context-param>

    <context-param>
        <param-name>db.username</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>db.password</param-name>
        <param-value>password123#</param-value>
    </context-param>

    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <servlet>
        <servlet-name>DBConfigServlet</servlet-name>
        <servlet-class>com.krushit.controller.DBConfigController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConfigServlet</servlet-name>
        <url-pattern>/DBConfig</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverVerification</servlet-name>
        <servlet-class>com.krushit.controller.VerifyDriverDocumentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverVerification</servlet-name>
        <url-pattern>/DriverVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.krushit.controller.UserLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>com.krushit.controller.UserSignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/UserSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/DriverSignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDriverDocument</servlet-name>
        <servlet-class>com.krushit.controller.AddDriverDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDriverDocument</servlet-name>
        <url-pattern>/AddDriverDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>com.krushit.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/GetAllUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllDriversServlet</servlet-name>
        <servlet-class>com.krushit.controller.GetAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllDriversServlet</servlet-name>
        <url-pattern>/GetAllDriversServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyDriverDocument</servlet-name>
        <servlet-class>com.krushit.controller.VerifyDriverDocumentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyDriverDocument</servlet-name>
        <url-pattern>/VerifyDriverDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddVehicleService</servlet-name>
        <servlet-class>com.krushit.controller.AddVehicleServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicleService</servlet-name>
        <url-pattern>/AddVehicleService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBrandModel</servlet-name>
        <servlet-class>com.krushit.controller.AddBrandModelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBrandModel</servlet-name>
        <url-pattern>/AddBrandModel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>com.krushit.controller.AddVehicleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/AddVehicle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddLocations</servlet-name>
        <servlet-class>com.krushit.controller.AddLocationsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLocations</servlet-name>
        <url-pattern>/AddLocations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllPendingDriverVerification</servlet-name>
        <servlet-class>com.krushit.controller.GetAllPendingDriverVerificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllPendingDriverVerification</servlet-name>
        <url-pattern>/GetAllPendingDriverVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogOutController</servlet-name>
        <servlet-class>com.krushit.controller.UserLogOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogOutController</servlet-name>
        <url-pattern>/UserLogOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllModelsController</servlet-name>
        <servlet-class>com.krushit.controller.GetAllModelsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllModelsController</servlet-name>
        <url-pattern>/GetAllModels</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DistanceCalculatorController</servlet-name>
        <servlet-class>com.krushit.controller.DistanceCalculatorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DistanceCalculatorController</servlet-name>
        <url-pattern>/CalculateDistance</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllLocations</servlet-name>
        <servlet-class>com.krushit.controller.GetAllLocationsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllLocations</servlet-name>
        <url-pattern>/GetAllLocations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteLocationController</servlet-name>
        <servlet-class>com.krushit.controller.DeleteLocationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLocationController</servlet-name>
        <url-pattern>/DeleteLocation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookRide</servlet-name>
        <servlet-class>com.krushit.controller.RequestRideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookRide</servlet-name>
        <url-pattern>/BookRideRequest</url-pattern>
    </servlet-mapping>
</web-app>